apiVersion: clickhouse.altinity.com/v1
kind: ClickHouseInstallation
metadata:
  name: single
  namespace: {{ .Release.Namespace }}
spec:
  defaults:
    templates:
      podTemplate: "clickhouse-{{ .Values.image.version }}-template"
      dataVolumeClaimTemplate: data-volume-template
      logVolumeClaimTemplate: log-volume-template

  configuration:
    clusters:
      - name: clickhouse
        layout:
          shardsCount: {{ .Values.clusters.shardsCount }}
          replicasCount: {{ .Values.clusters.replicasCount }}

    users:
      {{- range $user, $config := .Values.users }}

      {{ $user }}/password:
        valueFrom:
          secretKeyRef:
            name: chi-user-passwords
            key: {{ $user }}_pass
      {{ $user }}/networks/ip:
        {{- range $config.networks }}
        - {{ . }}
        {{- end }}
      {{ $user }}/profile: {{ $config.profile }}

      {{- end }}

  templates:
    podTemplates:
      - name: clickhouse-{{ .Values.image.version }}-template
        spec:
          containers:
            - name: clickhouse
              image: {{ .Values.image.repository }}:{{ .Values.image.version }}
              resources:
                requests:
                  memory: {{ .Values.resources.requests.memory }}
                  cpu: {{ .Values.resources.requests.cpu }}
                limits:
                  memory: {{ .Values.resources.limits.memory }}
                  cpu: {{ .Values.resources.limits.cpu }}

    volumeClaimTemplates:
      - name: data-volume-template
        spec:
          storageClassName: {{ .Values.volumes.storageClassName }}
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: {{ .Values.volumes.dataStorage }}

      - name: log-volume-template
        spec:
          storageClassName: {{ .Values.volumes.storageClassName }}
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: {{ .Values.volumes.logStorage }}